<div class="panel panel-default">
    <div class="panel-heading">
        Dashboard
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-xs">Chart</button>
            <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#/dashboard?chart=pie">Pie</a></li>
                <li><a href="#/dashboard?chart=bar">Bar</a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <canvas id="dashboard"></canvas>
        <div id="legend"></div>
    </div>
</div>
