<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" name="expenseItemForm" novalidate>
            <div class="form-group">
                <label for="inputDate" class="col-md-2 control-label">Date</label>
                <input type="date" id="inputDate" class="col-md-10 form-control" placeholder="Date" title="Date" ng-model="expenseItem.Date" required />
            </div>

            <div class="form-group">
                <label for="inputPayee" class="col-md-2 control-label">Payee</label>
                <input type="text" id="inputPayee" class="col-md-10 form-control" placeholder="Payee" title="Payee" ng-model="expenseItem.Payee" required />
            </div>

            <div class="form-group">
                <label for="inputAmount" class="col-md-2 control-label">Amount</label>
                <input type="text" id="inputAmount" class="col-md-10 form-control" placeholder="Amount" title="Amount" ng-model="expenseItem.Amount" required />
            </div>

            <div class="form-group">
                <label for="inputCategory">Category</label>
                <select class="col-md-10 form-control" id="inputCategory" ng-model="expenseItem.CategoryID" ng-options="category.ID as category.Name for category in categories" required></select>
            </div>

            <div id="form-group">
                <div id="col-md-offset-2 col-md-10">
                    <button class="btn btn-primary" ng-disabled="expenseItemForm.$invalid" ng-click="add()">Add Expense</button>
                </div>
            </div>
        </form>
    </div>
</div>
