<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="expenseApp">
<head>
    <title></title>
    <link href="assets/vendor/css/bootstrap.min.css" rel="stylesheet" />
    <script src="assets/vendor/js/angular.min.js"></script>
</head>
<body ng-controller="AppController as app">

    <div class="container" ng-controller="NavController as nav">
        <ul class="nav nav-tabs" role="tablist">
            <li ng-class="{ active: nav.isSet(1) }"><a href="" ng-click="nav.setTab(1)">Expenses</a></li>
            <li ng-class="{ active: nav.isSet(2) }"><a href="" ng-click="nav.setTab(2)">Categories</a></li>
        </ul>

        <div class="panel panel-default" ng-show="nav.isSet(1)">
            <div class="panel-heading">Expenses</div>
            <div class="panel-body">
                <form class="form-inline" name="expenseItemForm" ng-controller="ExpenseItemController as expenseCtrl" ng-submit="expenseItemForm.$valid && expenseCtrl.addExpense()" novalidate>
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="Date" title="Date" ng-model="expenseCtrl.expenseItem.Date" required />
                        <input type="text" class="form-control" placeholder="Payee" title="Payee" ng-model="expenseCtrl.expenseItem.Payee" required />
                        <input type="text" class="form-control" placeholder="Amount" title="Amount" ng-model="expenseCtrl.expenseItem.Amount" required />
                        <select class="form-control" ng-model="expenseCtrl.expenseItem.CategoryID" ng-options="category.ID as category.Name for category in app.categories" required>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Expense</button>
                </form>
            </div>

            <table class="table table-striped">
                <tr ng-repeat="item in app.expenses | orderBy:'-Date'">
                    <td>{{ item.Date | date:'mediumDate' }}</td>
                    <td>{{ item.Payee }}</td>
                    <td>{{ item.Amount | currency }}</td>
                </tr>
            </table>
        </div>

        <div class="panel panel-default" ng-show="nav.isSet(2)">
            <div class="panel-heading">Categories</div>

            <div class="panel-body">
                <form class="form-inline" name="categoryForm" ng-controller="CategoryController as categoryCtrl" ng-submit="categoryForm.$valid && categoryCtrl.addCategory()" novalidate>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Category name" title="Category" ng-model="categoryCtrl.category.Name" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Add Category</button>
                </form>
            </div>

            <table class="table table-striped">
                <tr ng-repeat="category in app.categories">
                    <td>{{ category.Name }}</td>
                </tr>
            </table>
        </div>

    </div>

    <script src="assets/js/app.js"></script>

</body>
</html>
