<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="expenseApp">
<head>
    <title></title>
    <link href="assets/vendor/css/bootstrap.min.css" rel="stylesheet" />
    <script src="assets/vendor/js/angular.min.js"></script>
</head>
<body ng-controller="AppController as app">

    <div class="container" ng-controller="NavController as nav">
        <ul class="nav nav-pills" role="tablist">
            <li ng-class="{ active: nav.isSet(1) }"><a href="" ng-click="nav.setTab(1)">Expenses</a></li>
            <li ng-class="{ active: nav.isSet(2) }"><a href="" ng-click="nav.setTab(2)">Categories</a></li>
        </ul>

        <div class="panel" ng-show="nav.isSet(1)">
            <h3>Expenses</h3>
        </div>

        <div class="panel" ng-show="nav.isSet(2)">
            <h3>Categories</h3>
        </div>

    </div>

    <script src="assets/js/app.js"></script>

</body>
</html>
